
 /* shop summery */


 .shopping-summery table {
 
      &  > :not(caption) > * > * {
            padding: 15px 0;
        }
  
 
       & thead th {
            background-color: #ececec;
            padding: 18px 0;
            font-family: "Quicksand", sans-serif;
            font-size: 17px;
            font-weight: 700;
            color: #253D4E;
  
        &.start {
            border-radius: 20px 0 0 20px;
        }
    }
        
  
        & tbody tr img {
            max-width: 120px;
            border: 1px solid #ececec;
            border-radius: 15px;
  }
}
  .shopping-summery table td, .shopping-summery table th, .shopping-summery table thead {
    border: 0;
  }